@font-face {
    font-family: 'Awais';
    src: url(./FONTS/Satoshi-Regular.otf);
    font-family: 'waleed';
    src: url(./FONTS/Fontspring-DEMO-integralcf-bold.otf);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin-top: 250px;
    font-size: 30px;
    font-family: waleed;
    color: black;
}
.heading h1{
    background-color: rgb(255, 252, 57);
    cursor: pointer;
}
.heading :hover{
    background-color: black;
}
.heading h1:hover{
    color: rgb(255, 252, 57);
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  .heading h1 {
    animation: float 3s ease-in-out infinite;
  }